Repository tha23rd/todoapp, pull requests merged in 2021-07, with the labels that each got.

#21 Add UI files
  api/app/core/config.py
  api/app/database/__init__.py
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
  api/install.cmd
  api/poetry.lock
  api/pyproject.toml
  api/run.cmd
  ui/.gitignore
  ui/README.md
  ui/package-lock.json
  ui/package.json
  ui/public/favicon.png
  ui/public/global.css
  ui/public/index.html
  ui/rollup.config.js
  ui/scripts/setupTypeScript.js
  ui/src/App.svelte
  ui/src/main.js
Labels: 📁 Repo: api, 📁 Repo: ui

#22 Setup UI linting
  .github/workflows/ui_lint.yml
  ui/.eslintrc.js
  ui/.husky/pre-commit
  ui/.prettierrc.js
  ui/package-lock.json
  ui/package.json
  ui/src/App.svelte
  ui/src/main.js
Labels: 📁 Repo: ui

#24 Add todolist item
  .gitignore
  api/.pre-commit-config.yaml
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
  api/pyproject.toml
Labels: 📁 Repo: api

#25 added route to rename lists
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
Labels: 📁 Repo: api

#32 Change button url
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
  discordapp/discordapp/database.py
Labels: 📁 Repo: api, 📁 Repo: discordapp

#30 changed creating item route to use request body
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
Labels: 📁 Repo: api

#34 item completion and list delete
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
Labels: 📁 Repo: api

#31 Add working UI concept
  api/app/database/todo_store.py
  api/app/models/todo_list.py
  ui/package-lock.json
  ui/package.json
  ui/rollup.config.js
  ui/src/App.svelte
  ui/src/Home.svelte
  ui/src/TodoList.svelte
  ui/src/components/H1.svelte
  ui/src/components/HeaderBar.svelte
  ui/src/components/SubHeader.svelte
  ui/src/constants.js
  ui/tailwind.config.js
Labels: 📁 Repo: api, 📁 Repo: ui

#35 moved onmount to reactive statement
  ui/src/TodoList.svelte
  ui/src/constants.js
Labels: 📁 Repo: ui

#41 some fixes and coloring
  api/app/pubsub/pubsub.py
  ui/src/TodoList.svelte
  ui/src/components/H1.svelte
  ui/src/components/HeaderBar.svelte
  ui/src/components/SubHeader.svelte
  ui/src/constants.js
  ui/tailwind.config.js
Labels: 📁 Repo: api, 📁 Repo: ui

#42 delete todo items
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
Labels: 📁 Repo: api

#43 added custom delete icon with proper color
  api/Dockerfile
  api/app/core/config.py
  api/app/main.py
  api/gunicorn_conf.py
  docker-compose.yml
  ui/src/TodoList.svelte
  ui/src/constants.js
  ui/tailwind.config.js
Labels: 📁 Repo: ui

#44 rename items and updated date
  api/app/database/todo_store.py
  api/app/main.py
  api/app/models/todo_list.py
Labels: 📁 Repo: api

#45 Fix IOS implement delete
  ui/src/App.svelte
  ui/src/TodoList.svelte
  ui/src/constants.js
  ui/tailwind.config.js
Labels: 📁 Repo: ui

#46 validates that the table exists in the database
  api/app/database/todo_store.py
Labels: 📁 Repo: api
